<%= stylesheet_link_tag "desktop.css", media: "(min-device-width:600px)" %>

<div class="title">
  <%= image_tag "hipsterlogo.png" %>
</div>
<div class="blurb"> Complete challenges to earn points and make the world a better place</div>
<div class="buttonHolder">
<a href="signup">Let's Go!</a>
</div>
