<div class="pagetitle">You have accepted the challenge</div>
<div style="margin: 0 auto; display: block; width: 100%; text-align: center;">
   <p>
   Upload an image of the completed challenge when you finish.
   </p>
   <form action="" method="get">
      <input type="file" style="margin: 0 auto; display: block;">
      <input type="submit" value="Submit">
   </form>
</div>
