// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gold : #FFB612;
$burgundy : #773141;

.challenge {
  font-size: 3em;
  letter-spacing: -2px;
  color: $burgundy;
  margin-bottom: 0px;
  margin-left: 10%;
}

.description {
  margin-left: 10%;
  margin-right: 50%;
}	
.accept {
  margin-left: 8em;
  width: 10em;
  background-color: white;
  color: $burgundy;
}
