html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    line-height: default;
    padding-top: 60px;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('/assets/tightrope.jpg');
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

.title {
    width: 100%;
    height: 350px;
    font-size: 800%;
    color: blue;
    text-align: center;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.title img {
    margin-top: -75px;
    margin-bottom: -75px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    height: 500px;
    width: 600px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.blurb {
    position: absolute;
    bottom: 25%;
    width: 100%;
    font-size: 300%;
    color: #773141;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 0px;
}

.buttonHolder {
    position: absolute;
    bottom: 10%;
    width: 100%;
    padding-top: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.buttonHolder a {
    font-weight: bold;
    text-decoration: none;
    font-size: 200%;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color:  #FFB612;
    background-color: #773141;
}

.logIn {
    color: $burgundy;
}