<div class="pagetitle">Categories</div>

<table style="width: 100%;">
  <tbody>
    <% @categories.each do |category| %>
      <tr style="font-size: 200%; padding: 0px;">
        <td style="text-align: center;"><%= link_to category.name, category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="new_challenge_button">
<%= link_to 'New Category', new_category_path %>
</div>
